---
import Icon from '../components/Icon.astro';
import BaseLayout from '../layouts/Layout.astro';
---

<BaseLayout title="404 Not Found">
    <div class="error">
        <h1><Icon icon="warning" size="1.33em" /> 404 Not Found</h1>
    </div>
</BaseLayout>

<style>

.error {
    text-align: center;
}

</style>