---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Pill from '../components/Pill.astro';
import Icon from '../components/Icon.astro';
---

<Layout title="Juan's Personal Website">
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Hello, my name is Juan"
					tagline="I am a Software Engineer who is currently based in Madrid, Spain."
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="c++-file" size="1.33em" /> C++</Pill>
						<Pill><Icon icon="python-file" size="1.33em" /> Python</Pill>
						<Pill><Icon icon="circuitry" size="1.33em" /> Cybersecurity</Pill>
					</div>
				</Hero>
			</header>
		</div>
	</div>
</Layout>

<style>
	.hero {
		display: grid;
		grid-template-columns: 6fr 4fr;
		padding-inline: 2.5rem;
		align-items: none;
		gap: 10rem;
	}

	.hero img {
		aspect-ratio: 3 / 4;
		object-fit: cover;
		border-radius: 2rem;
		box-shadow: var(--shadow-md);
	}

	.roles {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}
</style>
